.profile__edit-button {
  background: url(../../../images/icons/edit.svg) no-repeat center, transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  opacity: 1;
  position: absolute;
  right: -43px;
  top: 37px;
  transition: all .2s;
  width: 24px;
}

.profile__edit-button:hover {
  opacity: .6;
}
